.projects .html-css{
    max-width: 80%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: auto;
}

.projects .html-css .html-css-item1,
.projects .html-css .html-css-item2,
.projects .html-css .html-css-item3,
.projects .html-css .html-css-item4 {
    width: 200px;
    height: 150px;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    background: lightblue;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.projects .html-css .html-css-item1:hover,
.projects .html-css .html-css-item2:hover,
.projects .html-css .html-css-item3:hover,
.projects .html-css .html-css-item4:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


